.tripContainer {
  margin-top: 140px;
  padding: 10px 15px;
  text-align: center;
  box-sizing: border-box;
  border: 7px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(0, 217, 255);
  outline: none;
}
.tripElement {
  outline: none;
  padding: 10px 15px;
  text-align: left;
  border: 1px solid rgb(0, 217, 255);
  margin-block-start: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: normal;
}
.orangeButton {
  border: none;
  outline: none;

  color: white;
  width: 250px;
  background-color: rgb(233, 163, 0);
  border-radius: 100px;
  height: 50px;
  margin-top: 4%;
  margin-bottom: 14%;
}
.orangeButton:hover {
  background-color: #aa8305;
}

.registerHeader {
  margin: auto;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.unknownUserContainer {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 3px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0%);
  width: 450px;
  height: 350px;
  align-items: center;
}
